#wrapper #content {
	position:relative;
}

#wrapper #content .breadcrumbs {
    color: #712636;
    display: table-cell;
    font-size: 13px;
    height: 30px;
    line-height: 20px;
    margin: 0;
    padding: 9px 10px 18px 25px;
    text-align: left;
    vertical-align: middle;
    width: 231px;
}

#wrapper #content .breadcrumbs a,  #wrapper #content .breadcrumbs a:link,  #wrapper #content .breadcrumbs a:active,  #wrapper #content .breadcrumbs a:visited {
	color:#1A556E;
	line-height:16px;
}

#wrapper #content .breadcrumbs a:hover {
	text-decoration:none;
}

#wrapper #content #left {
	width:180px;
	margin:38px 0 0 0;
	float:left;
	position:relative;
    margin-left: 10px;
}

#wrapper #content .productdetails {
	margin:0 0 0 60px;
	float:left;
	position:relative;
	width:1020px;
}

#wrapper #content .productdetails h1 {
	font-size:16px;
	color:#712636;
	font-weight:normal;
	margin:0px 0 0px 108px;
	max-height:44px;
	overflow:hidden;
}

#wrapper #content .productdetails .proddet-all {
	position:relative;
	margin:5px 0px 20px 10px;
}

#wrapper #content .productdetails .proddet-all .code {
	color:#1a556e;
	font-size:13px;
}

#wrapper #content .productdetails .proddet-all .div-name {
	width:400px;
	height:550px;
	float:left;
	margin:0 10px 0 -42px;
}

#wrapper #content .productdetails .proddet-all .pic {
    height: 500px;
    left: 20px;
    margin: 0 10px 0 0;
    position: relative;
    width: 400px;
}

#wrapper #content .productdetails .proddet-all .pic .lemenii {
	position:absolute;
	top:-10px;
	left:-38px;
	background:url(../images/pig.png) top left no-repeat transparent;
	height:75px;
	width:75px;
}

#wrapper #content .productdetails .proddet-all .pic .lemenii .text-all,  #wrapper #content .productdetails .proddet-all .pic .lemenii .text-lem {
	font-size:16px;
	color:#712636;
	font-weight:bold;
	text-align:center;
	display:block;
    margin-left: 15px;
}

#wrapper #content .productdetails .proddet-all .pic .lemenii .text-lem {
	text-align:center;
	margin-top:50px;
    margin-left: 15px;
    margin-bottom: -5px;
}

#wrapper #content .productdetails .proddet-all .pic .lemenii .text-lem img {
	margin:0 0 0 -4px;
	padding:0;
}

#wrapper #content .productdetails .proddet-all .pic .main-image {
	margin:0 auto;
	display:block;
	text-align:center;
}

#wrapper #content .productdetails .proddet-all .pic .plash.new {
	background-image:url(../images/pl_new.png);
	position:absolute;
	bottom:0px;
	left:0px;
	width:145px;
	height:40px;
}

#wrapper #content .productdetails .proddet-all .pic .plash.advice {
	background-image:url(../images/pl_advice.png);
	position:absolute;
	bottom:0px;
	left:0px;
	width:115px;
	height:31px;
}

#wrapper #content .productdetails .proddet-all .pic .plash.hit {
	background-image:url(../images/pl_hit.png);
	position:absolute;
	bottom:0px;
	left:0px;
	width:115px;
	height:31px;
}

#wrapper #content .productdetails .proddet-all .pic .spacer-buy-area .product-price {
	position:absolute;
	bottom:23px;
	left:120px;
	margin:0px;
	line-height:15px;
	height:56px;
	background:url(../images/prod-cart-price-img.png) left center no-repeat transparent;
}

#wrapper #content .productdetails .proddet-all .pic .spacer-buy-area .product-price .PricesalesPrice span {
	color:#333333;
	font-size:22px;
	font-weight:bold;
	padding:0 0 0 45px;
	margin:15px 0 0 0;
	display:block;
}

#wrapper #content .productdetails .proddet-all .pic .spacer-buy-area .product-price canvas {
	padding:0 0 0 65px;
}

#wrapper #content .productdetails .proddet-all .pic .spacer-buy-area .product-price .PricepriceWithoutTax span {
	padding:0 0 0 65px;
	color:#333333;
	font-size:24px;
	font-weight:bold;
	text-decoration:line-through;
}

#wrapper #content .productdetails .proddet-all .pic .spacer-buy-area .addtocart-area {
	width:53px;
	height:55px;
	position:absolute;
	bottom:9px;
	right:28px;
	z-index:100;
}

#wrapper #content .productdetails .proddet-all .pic .spacer-buy-area .addtocart-area .addtocart-bar {
	padding:0px;
	margin:0px;
}

#wrapper #content .productdetails .proddet-all .pic .spacer-buy-area .addtocart-area .addtocart-bar .addtocart-button {
	margin:0px;
}

#wrapper #content .productdetails .proddet-all .pic .spacer-buy-area .addtocart-area .addtocart-bar .addtocart-button .addtocart-button {
	background:url(../images/prod-cart-img.png) left center no-repeat transparent;
	width:68px;
	height:68px;
	border:none;
	padding:0px;
	font-size:0px;
    margin-left: -20px;
    margin-top: -5px;
}

#wrapper #content .productdetails .proddet-all .pic .spacer-buy-area .addtocart-area span.addtocart-button-inactive {
	background:url(../images/cart-ok-big.png) left center no-repeat transparent;
	width:53px;
	height:55px;
	border:none;
	padding:0px;
	font-size:0px;
	display:block;
}

#wrapper #content .productdetails .proddet-all .charact {
	width:270px;
	margin:2px 0px 0 0;
    position: relative;
    left: 16px;
}

#wrapper #content .productdetails .proddet-all .charact .chars .chars-header {
	color:#08aaf5;
	font-size:18px;
	font-weight:bold;
	height:30px;
	padding:0 0 0 25px;
	margin:-3px 0 10px 0;
}

#wrapper #content .productdetails .proddet-all .charact .chars .chars-content .grey {
	background-color:#f0f0f0;
}

#wrapper #content .productdetails .proddet-all .charact .chars .chars-row{
    padding-bottom: 2px;
}

#wrapper #content .productdetails .proddet-all .colors {
	background-color:#f0f0f0;
	display:table-row;
}

#wrapper #content .productdetails .proddet-all .charact .chars .chars-content .chars-row .chars-name {
	color:#08aaf5;
	font-size:16px;
	padding:0 5px 0 4px;
}

#wrapper #content .productdetails .proddet-all .colors .color-name {
	color:#08aaf5;
	font-size:15px;
	padding:0 5px 0 5px;
	display:table-cell;
}

#wrapper #content .productdetails .proddet-all .charact .chars .chars-content .chars-row .chars-cont {
	font-size:14px;
	color:#1a556e;
}

#wrapper #content .productdetails .proddet-all .colors .color-type {
	width:240px;
	display:table-cell;
	vertical-align:middle;
}

#wrapper #content .productdetails .proddet-all .colors .color-type .color-item {
	border-bottom:1px dotted #1a556e;
	margin-right:5px;
	text-decoration:none;
	font-size:13px;
	color:#1a556e;
	display:inline;
	float:left;
}

#wrapper #content .productdetails .proddet-all .charact .chars .product-fields {
	margin:0;
    width: 275px;
}

#wrapper #content .productdetails .proddet-all .moduletable-payment-delivery {
	float:left;
	width:327px;
	font-size:11px;
	color:#4792b1;
	margin:-10px 0 0 0;
	position:relative;
    left: 60px;
}

#wrapper #content .productdetails .proddet-all .payment {
	background:url(../images/payment-fon.png) 5px 1px no-repeat transparent;
}

#wrapper #content .productdetails .proddet-all .delivery {
	background:url(../images/delivery-fon.png) 0px -0px no-repeat transparent;
	margin:10px 0 0 0;
}

#wrapper #content .productdetails .proddet-all .payment p {
	margin:0 0 0 -5px;
    font-size: 14px;
}

#wrapper #content .productdetails .proddet-all .payment ul,  #wrapper #content .productdetails .proddet-all .delivery ul {
	margin:0 0 0 0;
	padding:10px 0 0 17px;
}

#wrapper #content .productdetails .proddet-all .payment ul li,  #wrapper #content .productdetails .proddet-all .delivery ul li {
	margin:0 0 0 0px;
	text-indent:-5px;
    font-size: 14px;
}
#wrapper #content .productdetails .proddet-all .delivery ul li{
    margin-bottom: 15px;
}

#wrapper #content .productdetails .proddet-all .delivery ul li .sm {
	font-size:10px;
	color:#4792b1;
}

#wrapper #content .productdetails .proddet-all .payment h3,  #wrapper #content .productdetails .proddet-all .delivery h3 {
	color:#19556d;
	font-weight:normal;
	font-size:18px;
	margin:0 0 10px 0;
	height:30px;
    position: relative;
    top: 8px;
}

#wrapper #content .productdetails .proddet-all #prod-desc-all {
	float:left;
	margin:-15px 0px 0 10px;
}

#wrapper #content .product-description .desc-cont-short {
	display:block;
	padding:0 23px 10px 35px;
}

#wrapper #content .product-description .desc-cont-full {
	display:none;
	padding:0 23px 10px 23px;
}

#wrapper #content .product-description-closed .desc-cont-short {
	display:none;
	padding:0 23px 10px 23px;
}

#wrapper #content .product-description-closed .desc-cont-full {
	display:block;
	padding:0 35px 10px 35px;
}
#wrapper #content .product-description-closed .desc-cont-full li{
    margin-bottom: 5px;
}
#wrapper #content .productdetails .proddet-all .product-description {
	background-color:#F2FBFF;
	border-radius: 0px 0px 20px 20px;
	border:2px solid #c8e2f3;
	width:628px;
	float:left;
	margin:40px 0 0 0;
	cursor:pointer;
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #428EAE;
}
#wrapper #content .productdetails .proddet-all .product-description ul li{
    margin-bottom: 10px;
}
#wrapper #content .productdetails .proddet-all .product-description-closed {
	background-color:#ffffff;
	border:2px solid #c8e2f3;
	border-radius:30px;
	width:628px;
	float:left;
	margin:10px 0 0 0;
	overflow:hidden;
	cursor:pointer;
    color: #428EAE;
}

#wrapper #content .productdetails .proddet-all .product-description .title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #F2FBFF;
    border-color: #C8E2F3;
    border-image: none;
    border-radius: 30px 0 0 0;
    border-style: solid solid none;
    border-width: 2px 2px medium;
    color: #09AAF5;
    cursor: pointer;
    display: inline;
    font-size: 18px;
    font-weight: bold;
    left: -26px;
    margin: 0 0 0 24px;
    padding: 0 40px 5px 35px;
    position: absolute;
    top: -31px;
}
#wrapper #content .productdetails .proddet-all .product-description .title .pointer{
    background: url("../images/desc-down.png") no-repeat scroll right center #E1F5FF;
    height: 6px;
    position: absolute;
    right: 13px;
    top: 10px;
    width: 11px;
}

#wrapper #content .productdetails .proddet-all .product-description-closed .title {
	border:none;
	color:#08aaf5;
	font-size:18px;
	font-weight:bold;
	margin:0.5% 0 0 35px;
	padding:0px 20px 0px 0px;
	cursor:pointer;
	background:url(../images/desc-right.png) 107px 8px no-repeat transparent;
    padding-bottom: 15px;
}

#wrapper #content .productdetails .proddet-all p {
	margin:0;
    padding-left: 0;
}

#wrapper #content .productdetails .proddet-all p span {
	margin:5px 0;
	font-size:14px!important;
	color:#428EAE!important;

}

#wrapper #content .productdetails .proddet-all .desc-cont span {
	font-size:13px!important;
	color:#4792b1!important;
}

#wrapper #content .productdetails .product-fields {
	margin:0;
	border:none;
}

#wrapper #content .productdetails .proddet-all .pic .spacer-buy-area .addtocart-bar .quantity-box,  #wrapper #content .productdetails .proddet-all .pic .spacer-buy-area .addtocart-bar .quantity-controls {
	display:none;
}

#wrapper #content .product-related-products {
	border:none;
	background:url(../images/lemond-horiz-fon.png)top left no-repeat transparent;
	width:1245px;
	height:314px;
	margin:53px auto 0 auto;
	padding:0;
}

#wrapper #content .product-related-products .addtocart-button-inactive {
	background:url(../images/cart-ok.png) left center no-repeat transparent;
	width:33px;
	height:34px;
	border:none;
	padding:0px;
	font-size:0px;
	display:block;
	left:100px;
	top:156px;
	position:absolute;
}

#wrapper #content .product-related-products h4 {
	color:#1a556e;
	font-size:17px;
	font-weight:bold;
	margin:0 0 0 47px;
}

#wrapper #content .product-related-products .jcarousel-skin-lemond-horiz-slide {
	height:215px;
	width:983px;
}

#wrapper #content .product-related-products .PricerelProd {
	color:#333333;
	font-size:20px;
	font-weight:bold;
	margin:15px 0px 0 0;
}

#wrapper #content .moduletable-catalog {
	background:url(../images/catalor-fon.png) 0px 0px no-repeat transparent;
	width:1225px;
	height:300px;
	margin:10px 0 0 20px;
}

#wrapper #content .moduletable-catalog .addtocart-button-inactive {
	background:url(../images/cart-ok.png) left center no-repeat transparent;
	width:33px;
	height:34px;
	border:none;
	padding:0px;
	font-size:0px;
	display:block;
	left:75px;
	top:152px;
	position:absolute;
}

#wrapper #content .moduletable-catalog h3 {
	color:#1a556e;
	font-size:18px;
	font-weight:bold;
	margin:0 0 0 45px;
	text-decoration:underline;
}

#wrapper #content .moduletable-catalog h3 a {
	color:#1a556e;
}

#wrapper #content .product-fields {
	margin:0;
}

#wrapper #content .product-fields .product-field-type-E {
	border:none;
	padding:0;
	margin:0;
    padding-bottom: 2px;
}

#wrapper #content .moduletable-up {
	position:absolute;
	z-index:99999999;
	bottom:-10px;
	right:35px;
}

.three-places-action {
	position:relative;
	height:314px;
	width:1245px;
	margin:30px auto 0 auto;
	background:url(../images/prod-action-fon.png)top left no-repeat transparent;
}

.three-places-action h4 {
	color:#1a556e;
	font-size:18px;
	font-weight:bold;
	margin:0 0 0 45px;
}

.three-places-action .place-1 {
	position:absolute;
	top:40px;
	left:46px;
	width:186px;
	height:220px;
	overflow:visible;
}

.three-places-action a {
	display:inline-block;
	color:#999999;
	font-size:15px;
	line-height:17px;
	height:35px;
	overflow:hidden;
	padding:0 0 0 15px;
}

.three-places-action .price-wrapper {
	margin:10px 0 0 0;
	padding:5px 0 0 35px;
	height:30px;
	background-size:35px 35px;
	background:url(../images/prod-price-img.png)top left no-repeat transparent;
}

#complCanvasp2 {
	width:100px;
	height:25px;
}

.three-places-action .price-wrapper .oldPrice, .three-places-action .price-wrapper .newPrice, .three-places-action .price-wrapper .singlePrice {
	float:left;
	margin-right:5px;
}

.three-places-action .price-wrapper .oldPrice {
	color:#605f5a;
	font-size:17px;
	font-weight:bold;
	text-decoration:line-through;
}

.three-places-action .price-wrapper .singlePrice {
	color:#605f5a;
	font-size:18px;
	font-weight:bold;
}

.three-places-action .img-wrapper {
	height:135px;
	width:135px;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

.three-places-action .img-wrapper img {
	max-height:135px;
	max-width:135px;
}

.three-places-action .place-2 {
	position:absolute;
	left:385px;
	top:40px;
	height:220px;
	overflow:visible;
	opacity:1;
	-moz-opacity:1;
	filter:alpha(opacity=100);
}

.three-places-action .place-2 .krest {
	position:absolute;
	top:0px;
	right:70px;
	cursor:pointer;
}

.three-places-action .place-3 .krest {
	position:absolute;
	top:0px;
	right:-45px;
	cursor:pointer;
}

.three-places-action .place-3 {
	position:absolute;
	left:720px;
	top:31px;
	cursor:pointer;
	opacity:0.5;
	-moz-opacity:0.5;
	filter:alpha(opacity=50);
}

.three-places-action .place-3 span {
	color:#1a556e;
	font-size:16px;
	font-weight:bold;
	margin-top:17px;
	display:block;
}

.three-places-action .place-4 {
	position:absolute;
	left:1027px;
	top:41px;
	width:150px;
	height:75px;
	cursor:pointer;
}

.three-places-action .place-4 .oldPrice {
	color:#605f5a;
	font-size:19px;
	font-weight:bold;
	text-decoration:line-through;
	margin:10px 0 10px 10px;
}

#complCanvasFull {
	width:91px;
	height:23px;
}

.three-places-action .place-4 .newPrice {
	margin:0 0 0px 10px;
}

.three-places-action .place-4 img {
}

.three-places-action .place-4 .addtocart-button input.addtocart-button {
    background: url("/templates/lemond/images/cart-in.png") no-repeat scroll center center / 41px 41px transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    bottom: -21px;
    font-size: 0;
    height: 41px;
    position: absolute;
    right: -9px;
    width: 41px;
}

.three-places-action .place-4 .addtocart-button-inactive {
    background: url("../images/cart-ok.png") no-repeat scroll center center transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    bottom: -21px;
    font-size: 0;
    height: 41px;
    position: absolute;
    right: -9px;
    width: 41px;
}

.three-places-action .place-5 {
	position:absolute;
	top:185px;
	right:94px;
	width:120px;
}

.three-places-action .place-5 span {
	color:#1a556e;
	font-size:16px;
	font-weight:bold;
	margin-top:5px;
}

.div-ul {
	width:755px;
	height:225px;
}

.div-ul .product-name {
	display:block;
	color:#999999;
	font-size:13px;
	line-height:17px;
	height:35px;
	overflow:hidden;
	padding:0 0 0 15px;
	text-align:center;
}

.div-ul .price-wrapper {
	margin:0;
	padding:5px 0 0 30px;
	height:30px;
	background:url(../images/prod-price-img.png)top left no-repeat transparent;
}

.div-ul .price-wrapper .newPrice, .div-ul .price-wrapper .singlePrice {
	float:left;
	margin-right:10px;
}

.div-ul .price-wrapper .oldPrice {
	color:#605f5a;
	font-size:15px;
	font-weight:bold;
	text-decoration:line-through;
}

.gift .birka {
    background: url("../images/gift.png") no-repeat scroll left top transparent;
    bottom: -71px;
    cursor: pointer;
    height: 110px;
    position: absolute;
    right: 20px;
    width: 144px;
    z-index: 150;
}

.gift .gift-in {
	display:none;
}

#footer, #some-text {
	margin:0 auto;
}

.content .product-field {
	margin:15px;
}

.content .product-field p.product-name {
	color:#999999;
	font-size:13px;
	line-height:17px;
}

.content .product-field .PricesalesPrice {
	text-align:left;
	font-size:15px;
	color:#438faf;
}

.product-price .PricesalesPrice span{
    position: relative;
    left: 10px;
}

#wrapper #content .productdetails .code {
	font-size:10px;
	color:#375a60;
	font-weight:normal;
	margin:0px 0 5px 108px;
	overflow:hidden;
}

