body{background-color: #626262;}
.rounded{margin: 0;padding: 0;line-height: 8px;}
#content .subTitle{font-size: 13px;}
a,a:link,a:visited {color: #336699;font-weight: normal;text-decoration: underline;}